.v-toolbar-title a {
    text-emphasis: none;
    color: white;
}

.btn-create {
    @media screen and(min-width: 767px) {
        float: right;
    }
    @media screen and(max-width:767px) {
        width: 100%;
    }
}

.btn-owned {
    @media screen and(max-width: 767px) {
        width: 100%;
    }
}