.owned-btn {
    font-weight: bold;
    min-width: 200px;
    border: 1px solid #ccc;
    padding: .8em 1em;
    text-align: center;
    border-style: solid;
    border-bottom-right-radius: 150px 130px;
    border-top-left-radius: 150px 130px;
    cursor: pointer;
    box-shadow: 5px 5px 8px #ccc;
    position: relative;
}

.owned-btn__icon {
    position: absolute;
    border-top-left-radius: 150px 130px;
    border-bottom-right-radius: 150px 150px;
    cursor: pointer;
    width: 70px;
    top: 0;
    left: 0em;
    padding: .8em 1.6em;
    background-color: $primary-color;
}

.owned-btn__text {
    margin-left: 30px;
}

.owned-btn__secondary {
    font-family: $font-family-lato;
    font-size: 1.2em;
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    color: $primary-color;
    border: 1px solid $primary-color;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    line-height: 2rem;
    padding: 0 1rem;
    margin: 2rem;
    border-radius: 3rem;
}