.titulo {
    font-family: $font-family-lato;
    font-weight: 600;
}

.subtitulo {
    font-family: $font-family-lato;
    font-weight: 400;
}

.parrafo {
    font-family: $font-family-lato;
    font-weight: 100;
}