.footer {
    background-color: $primary-color;
}

.formulario-imputs__input {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    @media screen and(max-width: 767px) {
        margin-top: 10px;
    }
}

.titulo,
.formulario-imputs__label,
.terms,
.formulario-imputs__button {
    color: $white-color;
}

.formulario-imputs__label {
    font-size: 1.2em;
    margin: 0;
}

.terms {
    margin: 0 0 0 5px;
    font-size: .9em;
}

.formulario-imputs {
    @media screen and(max-width: 767px) {
        margin-top: 20px;
    }
}

.formulario-imputs__box {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.formulario-imputs__checkbox {
    margin: 0;
}

.formulario-imputs__button {
    font-family: $font-family-lato;
    font-weight: 600;
    color: $primary-color;
    background-color: #fff;
    border-color: #fff;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s;
    @media screen and(max-width: 767px) {
        margin-top: 10px;
        width: 100%;
    }
}

.box-footer {
    margin-left: 33%;
    @media screen and(max-width: 767px) {
        margin: 0;
        flex-direction: column;
    }
}

.box-footer-items {
    @media screen and(max-width: 767px) {
        justify-content: center;
        flex-direction: column;
    }
}

.box-footer__title {
    font-size: 30px;
    font-weight: bold;
    @media screen and(max-width: 767px) {
        font-size: 30px;
        font-weight: bold;
        display: block;
    }
}

.box-footer__iconos {
    margin-left: auto !important;
    @media screen and(max-width: 767px) {
        margin-left: 0!important;
        flex-direction: column;
    }
}

.box-footer__ancla {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}