.main {
    min-height: 550px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

.fs-16 {
    font-size: 16px
}

.fs-20 {
    font-size: 20px
}

.fs-22 {
    font-size: 22px;
    @media screen and(max-width: 767px) {
        font-size: .8em;
    }
}

.fs-25 {
    font-size: 25px;
}

.divider {
    width: 240px;
    height: 2px;
    background: $primary-color;
}

.about-info {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90px;
    width: 400px;
}

.ml-owned {
    @media screen and(mix-width: 767px) {
        margin-left: 0.5rem !important;
    }
}