.minilogos {
    display: flex;
    justify-content: center;
}

.minilogos-title {
    font-size: 35px;
    color: $primary-color;
    @media screen and(mix-width: 767px) {
        margin-top: 3rem !important;
    }
}

.minilogos-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.minilogo-item {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 200px;
    margin: 0 10px;
    @media screen and(max-width: 767px) {
        max-width: initial;
        margin-top: 20px;
    }
}

.minilogo-item__title {
    font-family: $font-family-lato;
    font-weight: 400;
    margin-top: 20px;
}

.minilogo-item__img {
    width: 60px;
    max-height: 160px;
    max-width: 100%;
}