.contador {
    font-family: "Lato", sans-serif;
    font-size: 1.2em;
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    border: 1px solid #ccc;
    font-weight: bold;
    display: flex;
    text-decoration: none;
    line-height: 2rem;
    padding: 2px 1rem;
    border-radius: 3rem;
    justify-content: center;
    align-items: center;
}

.item-contador {
    margin: 0 15px;
    outline: 0;
}

.modal-dialog {
    @media screen and(max-width: 767px) {
        max-width: 90%!important;
    }
}

.items-pago {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    @media screen and(max-width: 767px) {
        flex-direction: column-reverse;
    }
}

.amount {
    @media screen and(max-width: 767px) {
        margin-top: 2%;
    }
}
