.v-application--wrap {
    min-height: auto!important;
}

.logo-img {
    @media screen and(max-width: 767px) {
        width: 100%;
    }
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 765px;
    margin: auto;
    padding: 90px 30px;
    @media screen and(max-width: 767px) {
        flex-wrap: wrap;
        padding: 20px 15px;
    }
}

.logo {
    max-width: 450px;
    @media screen and(max-width: 767px) {
        width: 100%;
    }
}

.logo-img {
    width: 100%;
}

.formulario {
    max-width: 500px;
    @media screen and(max-width: 767px) {
        margin: 20px 15px;
        max-width: auto;
    }
}