.shopers {
    align-items: center;
    justify-content: center;
}

.shoper-item__img {
    max-width: 100%;
    width: 200px;
}

.shoper-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.prueba {
    background-image: url('./img/individual.png');
    min-height: 550px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-position: bottom;
    background-size: cover;
}