.group-item {
    display: flex;
    align-items: center;
    margin-right: 0.5rem !important;
    @media screen and(max-width: 767px) {
        flex-direction: column;
    }
}

.offset-owner {
    @media screen and(min-width: 767px) {
        margin-left: 8.3333333333%;
    }
}

.contendor-imagen {
    height: 500px;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.contenedor-icons {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: $primary-color;
    min-height: 500px;
}

.contenedor-comparacion {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.justify-left {
    @media screen and(min-width: 767px) {
        margin-left: 66.6666666667%;
    }
}

.bg-light {
    background: -webkit-linear-gradient( left, #25A5A4 0%, #25A5A4 70%)!important;
}

.navbar-light .navbar-nav .nav-link {
    color: white!important;
    font-weight: bold;
}

.navbar-owner>.nav-item>a {
    font-family: 'Libre Franklin', sans-serif;
}