// Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato');
// Variables
@import 'variables';
@import 'footer';
@import 'ingredients';
@import 'register';
@import 'main';
@import 'shoper';
@import 'minilogos';
@import 'payForm';
@import 'welcome';
@import 'thanks';
@import 'base/buttons';
@import 'base/colors';
@import 'base/typography';
// Bootstrap
@import '~bootstrap/scss/bootstrap';